/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя */
  .title {
    color: var(--title-color);
  }

  .caption {
    background-color: var(--bg-short-title);
    color: var(--caption-color);
  }

  .heading {
    color: var(--heading-color);
  }

  .short__title {
    background-color: var(--bg-short-title);
    color: var(--caption-color);
  }

  .headline {
    background-color: var(--bg-short-title);
  }

  .paragraph {
    color: var(--paragraph-color);
  }
  
  .header__theme-menu {
    color: var(--nav-color);
  }
}

@media (prefers-color-scheme) {
  .page.theme_dark {
    background-image: url(../images/cover-image-dark.png);
  }

  .title__footer {
    text-shadow: 2px 2px 0px #FF0070
  }
}

@media (width <= 1024px) and (prefers-color-scheme) {
  .page.theme_dark {
    .title {
      text-shadow: 4px 4px 0 #FF0070;
    }
    
    .title__footer {
      text-shadow: 2px 2px 0px #FF0070
    }
  }
}

:root .theme_dark{
  --title-color: #DB00FF;
  --caption-color: #000028;
  --paragraph-color: #F1B2CE;
  --bg-short-title: #FF0070;
  --accent-color: #FF0070;
  --heading-color: #FF0070;
  --nav-color: #FF0070;
}