/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя */
  :root .theme_light {
    --border-color: rgb(21%, 20%, 19%, 0.5);
    --title-color: #ffc2e6;
    --caption-color: #353430;
    --paragraph-color: #353430;
    --heading-color: #353430;
    --bg-short-title: #ff8dcb;
    --accent-color: #ff8dcb;
    --nav-color: #353430;
    --bg-img: url(../images/cover-image-light.png);
  }

  .decoration,
  .decoration-zone,
  .decoration-zone__lower {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root .theme_light {
    /* Дублируем переменные светлой темы */
    --border-color: rgb(21%, 20%, 19%, 0.5);
    --title-color: #ffc2e6;
    --caption-color: #353430;
    --paragraph-color: #353430;
    --heading-color: #353430;
    --bg-short-title: #ff8dcb;
    --accent-color: #ff8dcb;
    --nav-color: #353430;
    --bg-img: url(../images/cover-image-light.png);
  }
}
