/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --border-color: rgb(100%, 0%, 44%, 0.5);
  --title-color: #db00ff;
  --caption-color: #000028;
  --paragraph-color: #f1b2ce;
  --heading-color: #ff0070;
  --bg-short-title: #ff0070;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --bg-img: url(../images/cover-image-dark.png);
  --main-font: "IBM Plex mono", monospace;
  --decoration: #ff0070;
}
